# This requirements are for development and testing only, not for production.
black==22.3.0
codecov==2.1.12
coverage==6.4.1
flake8==4.0.1
gitchangelog==3.0.4
isort==5.10.1
mypy==0.961
pytest==7.1.2
pytest-cov==3.0.0
pytest-mock==3.8.1
